# **JUDUL**

### Analisis Kinerja Keuangan Perusahaan Terdaftar Di Bursa Efek (IDX)

# **Import Liberary**

In [8]:
import pandas as pd

# **Memuat Dataset**

In [17]:
paht ="/content/drive/MyDrive/checkpoint ke 2/combined_financial_data_idx.csv"
df = pd.read_csv(paht)
df.head(25)

,symbol,account,type,2020,2021,2022,2023
0,AALI,Accounts Payable,BS,7.702640e+11,1.026717e+12,1.224423e+12,8.420640e+11
1,AALI,Accounts Receivable,BS,7.658490e+11,4.581350e+11,8.487700e+11,6.744870e+11
2,AALI,Accumulated Depreciation,BS,-1.092095e+13,-1.213381e+13,-1.330375e+13,-1.443685e+13
3,AALI,Additional Paid In Capital,BS,3.878995e+12,3.878995e+12,3.878995e+12,3.878995e+12
4,AALI,Allowance For Doubtful Accounts Receivable,BS,-2.426100e+10,-2.454300e+10,-2.705700e+10,-2.651600e+10
...,...,...,...,...,...,...,...
89238,ZINC,Total Unusual Items,IS,2.459341e+09,1.096695e+10,7.474979e+08,8.117474e+07
89239,ZINC,Total Unusual Items Excluding Goodwill,IS,2.459341e+09,1.096695e+10,7.474979e+08,8.117474e+07
89240,ZINC,Tradeand Other Payables Non Current,BS,1.542456e+11,3.418800e+09,3.418800e+09,3.418800e+09
89241,ZINC,Work In Process,BS,3.757703e+08,3.757703e+08,3.874522e+09,7.067292e+10
89242,ZINC,Working Capital,BS,5.365589e+10,4.599091e+11,-3.023633e+10,1.285367e+11

Warning: total number of rows (89243) exceeds max_rows (20000). Limiting to first (20000) rows.

bang saya hanya menampilakan hanya 25 di datasetnya saolnya ada max_rows(20000) jadi nanti di hapus aja headnya

# **Business Understanding**
### A. Business Objective
 Dataset yang digunakan merupakan data laporan keuangan perusahaan yang terdaftar di Bursa Efek Indonesia (IDX) yang memuat beberapa variabel keuangan utama seperti Revenue, Net Income, Total Assets, dan Total Liabilities Data ini dapat digunakan untuk menggambarkan kondisi kinerja dan kesehatan finansial perusahaan Permasalahan yang dapat diangkat dari dataset ini adalah bagaimana mengetahui tingkat profitabilitas perusahaan, bagaimana struktur keuangan perusahaan berdasarkan utang dan aset, serta apakah perusahaan dengan ukuran besar selalu memiliki performa yang lebih baik dibandingkan perusahaan lainnya

### B. Assess Situation
Dataset ini terdiri dari lebih dari 1000 baris data dengan beberapa variabel numerik utama yang relevan untuk analisis keuangan Tantangan yang mungkin dihadapi dalam dataset ini antara lain adanya perbedaan skala nilai antar perusahaan yang cukup besar, kemungkinan terdapat nilai ekstrem (outlier), serta perlunya pembuatan rasio keuangan agar data lebih mudah dianalisis Selain itu dataset ini hanya berfokus pada data keuangan dan tidak mencakup faktor eksternal seperti kondisi ekonomi atau kebijakan industri yang dapat memengaruhi kinerja perusahaan

### C. Analytic Goals & Project Plan
### Goals
Untuk menjawab permasalahan tersebut analisis yang akan dilakukan meliputi analisis deskriptif terhadap Revenue dan Net Income, perhitungan rasio keuangan seperti Profit Margin dan Debt Ratio, serta analisis hubungan antara Total Assets, Revenue, dan Net Income Analisis ini bertujuan untuk mengidentifikasi pola kinerja perusahaan serta memahami hubungan antar variabel keuangan yang ada dalam dataset
### Project plan
Rencana yang akan dilakukan dalam proyek ini dimulai dengan memahami struktur dataset dan melakukan pengecekan terhadap tipe data serta kemungkinan missing value Selanjutnya dilakukan pengolahan data dengan membuat variabel turunan berupa rasio keuangan Setelah itu dilakukan analisis deskriptif dan visualisasi data untuk melihat pola distribusi dan hubungan antar variabel Tahap akhir adalah menarik insight berdasarkan hasil analisis yang telah dilakukan